@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

/* added fonts */

@font-face
{
    font-family: FabyenDemo;
    src: url("fonts/FabyenDemo.ttf");
}
@font-face
{
    font-family: CalibreSemibold;
    src: url("fonts/CalibreSemibold.otf");
}
@font-face
{
    font-family: seag;
    src: url("fonts/seag.ttf");
}

/*  
    -------------------------------------------------------------------------------
                                        MAIN
    -------------------------------------------------------------------------------
*/
html /* webpage */
{
    /* position */

    min-height: 100%;
    width: 100%;
}

body /* webpage visible component */
{
    /* position */

    min-height: 100%;
    width: 100%;
    display: block;
    margin: 0;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

p /* all paragraphs */
{
    /* style */

    color: whitesmoke;
    font-size: large;
    font-family: 'FabyenDemo';
    text-align: justify;
    word-spacing: 4px;
    letter-spacing: 1px;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

h1 /* all primary headers */
{
    /* position */

    display: inline-block;

    /* style */

    font-family: 'Georgia';
    font-size: 5em;
    color: rgb(187, 228, 255);

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

h3 /* all tertiary headers */
{
    /* style */

    font-family: 'FabyenDemo';
    font-size: 2em;
    color: whitesmoke;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

h5 /* all quinary headers */
{
    /* style */

    font-family: 'FabyenDemo';
    font-size: larger;
    color: whitesmoke;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

#btn /* all buttons */
{
    /* position */

    padding: 1em 2em;
    margin-top: 10%;

    /* style */

    color: whitesmoke;
    text-align: center;
    font-size: larger;
    border: 3px solid rgb(28, 123, 187);
    border-radius: 5%;    
    font-variant: small-caps;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: 'CalibreSemibold';
}

#btn:hover /* all buttons hover action */
{
    /* style */

    background-color: rgba(0, 153, 255, 0.144);
    color: rgb(206, 162, 41);
}

a:hover /* link hovering */
{
    color: rgb(206, 162, 41);
}

.arrow_right /* all arrows pointing right */
{
    /* position */

    display: inline-block;
    align-self: auto;
    width: 20em;
    padding: 0 3%;
    margin-bottom: 1em;    

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

.arrow_left /* all arrows pointing left */
{
    /* position */

    display: inline-block;
    align-self: auto;
    width: 20em;
    padding: 0 5%;
    margin-top: auto;
    margin-bottom: auto;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

.column_subtitles /* column headers */
{
    /* position */

    text-align: center;
}

/*  
    ------------------
        SCROLLBARS
    ------------------
*/

/* width */
::-webkit-scrollbar 
{
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track 
{
    box-shadow: inset 1px 1px 10px rgba(0, 153, 255, 0.144); 
    border-radius: 12px;
}
   
/* Handle */
::-webkit-scrollbar-thumb 
{
    background: rgb(28, 123, 187); 
    border-radius: 15px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
    background: rgb(22, 93, 139);
}



/*  
    -------------------------------------------------------------------------------
                                        NAV
    -------------------------------------------------------------------------------
*/

#nav /* nav bar layout */
{
    /* postion */

    display: block;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    width: 100vw;
    z-index: 5;
    overflow: hidden;

    /* style */

    box-shadow: 10px 0 10px;
    background-color: #0100335b;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

.nav_block /* div block containing the nav contents */
{
    /* postion */

    display: block;
    margin: auto;
    width: 60%;
    overflow: auto;
    text-align: center;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

#nav ul /* navigation bar list */
{
    /* postion */

    display: inline-block;
    padding: 0;
    width: 41%;
    overflow: auto;

    /* style */

    list-style-type: none;    
    font-family: 'CalibreSemibold';
    

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}
      
#nav ul li /* navigation bar list items */
{
    /* position */

    float: left;
    margin-top: 0;

    /* style */

    font-variant: small-caps;
    letter-spacing: 1px;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}
      
li a /* navigation bar list links */
{
    /* position */

    display: block;
    margin: 0 1em;
    text-align: center;

    /* style */

    color: whitesmoke;   
    text-decoration: none;
    font-size: large;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

#logo /* navigation bar logo */
{
    /* postion */

    float: left;
    margin: 2px 0 2px 0;
    padding: 0;
    max-width: 3em;
    min-width: 1em; 
       
    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

#cv_btn /* navigation bar cv button */
{
    /* position */

    float: right;
    margin: 4px 0 0 0;
    padding: 0.5em 1.3em;
    text-align: center;
    
    /* style */

    color: whitesmoke;    
    font-size: large;
    font-variant: small-caps;
    font-family: 'CalibreSemibold';
    border: 3px solid rgb(28, 123, 187);    
    text-decoration: none;
    border-radius: 5%;    
    font-variant: small-caps;
    letter-spacing: 1px;
}

#cv_btn:hover /* resume button hovering */
{
    background-color: rgba(0, 153, 255, 0.144);
    color: rgb(206, 162, 41);
}

/*  
    -------------------------------------------------------------------------------
                                    TITLE
    -------------------------------------------------------------------------------
*/

#title_page /* page layout */
{
    /* position */

    display: block;
    position: relative;
    padding: 18% 20%;
    height: 100%;
    z-index: 1;

    /* style */

    background-color: #010033;
    background-image: linear-gradient(to right, #010033 40%, #01003318 70%), linear-gradient(to bottom, #010033 10%, #01003334 45%, #010033 91%), url("img/rider.JPG");
    background-position: left, top, right;
    background-repeat: no-repeat, no-repeat, no-repeat;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

.first_line /* introduction */
{
    color: rgb(67, 149, 204);;
    font-family: 'FabyenDemo';
    font-size: larger;
    word-spacing: 10px;
    letter-spacing: 2px; 
    
    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

.second_line /* name */
{
    color: rgb(187, 228, 255);
    font-family: 'Georgia';
    font-size: 6em;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

.third_line /* description */
{
    color: rgb(133, 184, 252);
    font-family: 'Georgia';
    font-size: 5em;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

/*  
    -------------------------------------------------------------------------------
                                        ABOUT
    -------------------------------------------------------------------------------
*/

#about /* about page layout */
{
    /* position */

    display: block;
    position: relative;
    padding: 5% 8% 8% 8%;
    height: 100%;
    z-index: 1;

    /* style */

    background-color: #091b3b;
    background-image: linear-gradient(to left, #091b3b 50%, #091b3b2f 70%), linear-gradient(to bottom, #091b3b 10%, #091b3b41 45%, #091b3b 91%), url("img/dog.jpg");
    background-position: right, top, left;
    background-repeat: no-repeat, no-repeat, no-repeat;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

.about_title /* about me title */
{
    /* position */

    display: block;
    position: relative;
    margin-left: 30%;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */

}

.about_description /* about me text */
{
    /* position */

    display: inline-block;
    position: relative;
    margin: 3% 0 0 35%;
    width: 30%;
    

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0);  */

}

.portrait /* portrait */
{
    /* position */

    display: inline-block;
    position: relative;        
    width: 200pt;
    margin-left: 5%;
    margin-top: 0;

    /* style */

    border: 3px solid rgb(28, 123, 187);
    border-radius: 5pt;
    box-shadow: 1em 1em rgba(0, 17, 29, 0.726);

    /* animation */

    animation: portrait_move_back 500ms ease-in;
    animation-fill-mode: forwards;
    
    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

.portrait:hover /* portrait hover action */
{
    /* animation */

    animation: portrait_move 500ms ease-in;
    animation-fill-mode: forwards;
}

@keyframes portrait_move /* mouse on portrait animation */
{
    from 
    { 
        transform: translateY(0);
        box-shadow: 1em 1em rgba(0, 17, 29, 0.726);
    }
    to
    {
        transform: translateY(-0.5em);
        box-shadow: 1.5em 1.5em rgba(0, 17, 29, 0.582);
    }
}

@keyframes portrait_move_back /* mouse off portrait animation */
{
    from 
    { 
        transform: translateY(0);
        box-shadow: 1.5em 1.5em rgba(0, 17, 29, 0.582);
    }
    to
    {
        transform: translateY(0.5em);
        box-shadow: 1em 1em rgba(0, 17, 29, 0.726);
    }
}

/*  
    -------------------------------------------------------------------------------
                                    EDUCATION
    -------------------------------------------------------------------------------
*/

#education /* education page layout */
{
    /* position */

    display: block;
    position: relative;
    padding: 5% 8% 8% 8%;
    height: 100%;
    z-index: 1;

    /* style */

    background-color: #122547;
    background-image: linear-gradient(to right, #122547 60%, #12254700 80%), linear-gradient(to bottom, #122547 2%, #12254700 40%, #122547 98%), url("img/resized_waterfall.JPG");
    background-position: left, top, top right;
    background-repeat: no-repeat, no-repeat, no-repeat;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

.education_title /* education title */
{
    /* position */

    display: block;
    position: relative;
    margin-right: 30%;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */

}

.education_column_wrapper
{
    /* position */

    display: block;
    margin: 5% 20% 0 0;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0);  */
}
.education_institutions /* institutions text */
{
    /* position */

    display: inline-block;
    width: 45%;
    height: auto;
    vertical-align: top;
    margin-right: 4%;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0);  */

}

.education_courses /* courses text */
{
    /* position */

    display: inline-block;
    width: 45%;
    height: auto;
    vertical-align: top;
    margin-left: 4%;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0);  */

}

.education_courses ul /* courses list */
{
    /* style */

    list-style: circle;
    color: whitesmoke;
    font-size: large;
    font-family: 'FabyenDemo';
    word-spacing: 4px;
    letter-spacing: 1px;
    line-height: 25px;
}

/*  
    -------------------------------------------------------------------------------
                                        WORK
    -------------------------------------------------------------------------------
*/

#work /* work page layout */
{
    /* position */

    display: block;
    position: relative;
    padding: 5% 8% 8% 8%;
    height: 100%;
    z-index: 1;

    /* style */

    background-color: rgb(26, 58, 85);
    background-image: linear-gradient(to left, rgb(26, 58, 85) 62%, rgba(26, 58, 85, 0) 80%), linear-gradient(to bottom, rgb(26, 58, 85) 1%, rgba(26, 58, 85, 0) 15%, rgb(26, 58, 85) 98%), url("img/resized_monkey.JPG");
    background-position: right, top, bottom left;
    background-repeat: no-repeat, no-repeat, no-repeat;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

.work_title /* work page title */
{
    /* position */

    display: block;
    position: relative;
    margin-left: 45%;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */

}

.work_column_wrapper /* container for text */
{
    /* position */

    display: block;
    position: relative;
    margin-left: 35%;
    width: 70%;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */

}

h3.work_column_title /* title for text column */
{
    /* position */

    display: block;
    padding-left: 5em;
    margin: 0;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */

}

.work_column /* text column */
{
    /* position */

    display: inline-block;
    vertical-align: top;
    width: 65%;
    margin-right: 4%;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

a.work /* any hyperlink in text */
{
    /* style */

    font-style: italic;
    text-decoration: none;
    color: whitesmoke;
}

a.work:hover /* hyperlink in text hover action */
{
    /* style */

    color: rgb(206, 162, 41);
}

#work_b3d /* text for Beyon3D (work) */
{
    /* position */

    width: 98%;
    height: 25em;
    padding: 0 5px 5px 5px;
    display: block;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

#work_hhe /* text for Hill House Equine Ltd. (work) */
{
    /* position */

    width: 98%;
    height: 25em;
    padding: 5px;
    display: none;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

.work_nav_column /* workplace list navigation column */
{
    /* position */

    display: inline-block;
    position: relative;
    width: 10em;
    height: 25em;
    padding-top: 1.5em;

    /* style */

    list-style-type: none;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

.work_button /* one button in work nav list */ 
{
    /* position */

    display: block;
    padding: 12px 5px 12px 5px;
    width: 7em; 
    margin: 0;

    /* style */

    font-family: 'FabyenDemo';
    font-size: larger;
    color: whitesmoke;
    background-color: transparent;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: all 0.5s;
    border: none;
    border-left: 3px solid rgba(99, 106, 110, 0.616);

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}
  
.work_button span /* work nav list button arrow add-on */ 
{
    /* position */

    display: inline-block;
    position: relative;
    
    /* style */

    cursor: pointer;
    transition: 0.5s; 

    /* DEBUG VARIABLES */ 
    /* border: 4px solid rgb(255, 255, 0); */
}
  
.work_button span:after /* button arrow add-on initial animation parameters */ 
{
    /* position */
    
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    
    /* style */

    color: rgb(206, 162, 41); 
    content: '\00bb'; 
    transition: 0.5s;
}
  
.work_button:hover span /* button text animation after arrow add-on introduction */ 
{
    /* position */

    padding-right: 20px;
    
    /* style */
    
    color: rgb(206, 162, 41); 
}
  
.work_button:hover span:after /* button arrow add-on final animation parameters */ 
{
    opacity: 1;
    right: 0;
}

.work_button:focus span /* button text when active */
{
    /* position */

    padding-right: 20px;
    
    /* style */

    color: rgb(206, 162, 41); 
}
  
.work_button:focus span:after /* button arrow add-on when button is active */ 
{
    /* position */

    right: 0;
    
    /* style */
    
    opacity: 1;
}

.work_button:focus /* button container (box)(div) when button is active */
{
    /* style */

    border: none;
    border-left: 3px solid rgb(28, 123, 187);
}

