@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

/* added fonts */

@font-face
{
    font-family: FabyenDemo;
    src: url("fonts/FabyenDemo.ttf");
}
@font-face
{
    font-family: CalibreSemibold;
    src: url("fonts/CalibreSemibold.otf");
}
@font-face
{
    font-family: seag;
    src: url("fonts/seag.ttf");
}

/*  
    -------------------------------------------------------------------------------
                                        MAIN
    -------------------------------------------------------------------------------
*/
html /* webpage */
{
    /* position */

    overflow-x: hidden;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(51, 255, 0); */
}

body /* webpage visible container */
{
    /* position */

    display: block;
    margin: 0;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

p /* all paragraphs */
{
    /* style */

    color: whitesmoke;
    font-size: large;
    font-family: 'FabyenDemo';
    text-align: justify;
    word-spacing: 4px;
    letter-spacing: 1px;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

h1 /* all primary headers */
{
    /* position */

    display: inline-block;

    /* style */

    font-family: 'Georgia';
    font-size: 5em;
    color: rgb(187, 228, 255);

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

h2
{
    /* style */

    font-family: 'Georgia';
    font-size: 2.5em;
    color: rgb(187, 228, 255);

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

h3 /* all tertiary headers */
{
    /* style */

    font-family: 'FabyenDemo';
    font-size: 2em;
    color: whitesmoke;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

h5 /* all quinary headers */
{
    /* style */

    font-family: 'FabyenDemo';
    font-size: larger;
    color: whitesmoke;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

#btn /* all buttons */
{
    /* position */

    padding: 1em 2em;
    margin-top: 10%;

    /* style */

    color: whitesmoke;
    text-align: center;
    font-size: larger;
    border: 3px solid rgb(28, 123, 187);
    border-radius: 5%;    
    font-variant: small-caps;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: 'CalibreSemibold';
}

#btn:hover /* all buttons hover action */
{
    /* style */

    background-color: rgba(0, 153, 255, 0.144);
    color: rgb(206, 162, 41);
}

a:hover /* link hovering */
{
    color: rgb(206, 162, 41);
}


a.text_link /* any hyperlink in text */
{
    /* style */

    font-style: italic;
    text-decoration: none;
    color: whitesmoke;
}

a.text_link:hover /* hovering over any hyperlink in text */
{
    /* style */

    color: rgb(206, 162, 41);
}


.arrow_right /* all arrows pointing right */
{
    /* position */

    display: inline-block;
    align-self: auto;
    width: 20em;
    padding: 0 3%;
    margin-bottom: 1em;    

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

.arrow_left /* all arrows pointing left */
{
    /* position */

    display: inline-block;
    align-self: auto;
    width: 20em;
    padding: 0 5%;
    margin-top: auto;
    margin-bottom: auto;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

.column_subtitles /* column headers */
{
    /* position */

    text-align: center;
}

/*  
    ------------------
        SCROLLBARS
    ------------------
*/

/* width */
::-webkit-scrollbar 
{
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track 
{
    box-shadow: inset 1px 1px 10px rgba(0, 153, 255, 0.144); 
    border-radius: 12px;
}
   
/* Handle */
::-webkit-scrollbar-thumb 
{
    background: rgb(28, 123, 187); 
    border-radius: 15px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
    background: rgb(22, 93, 139);
}

/*  
    ------------------
*/

hr.gradient_style /* Horizontal line gradient style */
{
    /* position */

    height: 1px;
    margin-top: -0.5px;

    /* style */

    border: 0;
    background: #333;
    background-image: -webkit-linear-gradient(left, #333, #ccc, #333);
    background-image: -moz-linear-gradient(left, #333, #ccc, #333);
    background-image: -o-linear-gradient(left, #333, #ccc, #333);
    background-image: linear-gradient(left, #333, #ccc, #333);
}
