@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

@font-face
{
    font-family: FabyenDemo;
    src: url("fonts/FabyenDemo.ttf");
}
@font-face
{
    font-family: CalibreSemibold;
    src: url("fonts/CalibreSemibold.otf");
}
@font-face
{
    font-family: seag;
    src: url("fonts/seag.ttf");
}

/*  
    ------------------------------------
                    MAIN
    ------------------------------------  
*/

body
{
    min-height: 100vh;
    display: block;
    margin: 0;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

p 
{
    color: whitesmoke;
    font-size: large;
    font-family: 'CalibreMedium';
    text-align: center;
}

#btn
{
    padding: 1em 2em;
    color: whitesmoke;
    text-align: center;
    font-size: larger;
    border: 3px solid rgb(28, 123, 187);
    border-radius: 5%;
    margin-top: 10%;
    font-variant: small-caps;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: 'CalibreSemibold';
}

#btn:hover
{
    background-color: rgba(0, 153, 255, 0.144);
    color: rgb(206, 162, 41);
}

/*  
    ------------------------------------
                    NAV
    ------------------------------------  
*/

ul /* navigation bar list */
{
    /* position */

    display: block;
    position: fixed;
    margin: 0;
    padding: 0;    
    top: 0;
    width: 100vw;
    overflow: hidden;
    z-index: 5;

    /* style */

    list-style-type: none;    
    font-family: 'CalibreSemibold';
    box-shadow: 5px 0 10px;
    background-color: #0100335b;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}
      
li /* navigation bar list items */
{
    /* position */

    float: left;
    margin-top: 5px;

    /* style */

    font-variant: small-caps;
    letter-spacing: 1px;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}
      
li a /* navigation bar list links */
{
    /* position */

    display: block;
    margin: 1em 1em;
    text-align: center;

    /* style */

    color: whitesmoke;   
    text-decoration: none;
    font-size: large;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

#logo /* navigation bar logo */
{
    float: left;
    margin: 9px 12% 0 20%;
    padding: 0;
    max-width: 3em;
    min-width: 1em; 
       
    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

#resume_btn /* navigation bar resume button */
{
    /* position */

    float: left;
    margin: 9px 0 0 12%;
    padding: 0.5em 1.3em;
    text-align: center;
    
    /* style */

    color: whitesmoke;    
    font-size: large;
    border: 3px solid rgb(28, 123, 187);    
    text-decoration: none;
    border-radius: 5%;    
    font-variant: small-caps;
    letter-spacing: 1px;
}

a:hover /* link hovering */
{
    color: rgb(206, 162, 41);
}

#resume_btn:hover /* resume button hovering */
{
    background-color: rgba(0, 153, 255, 0.144);
    color: rgb(206, 162, 41);
}

/*  
    ------------------------------------
                TITLE PAGE
    ------------------------------------
*/

#title_page
{
    /* position */

    display: block;
    position: relative;
    padding: 18% 20%;
    height: 100%;
    z-index: 1;

    /* style */

    background-image: linear-gradient(to right, #010033 40%, #01003370), linear-gradient(to bottom, #010033 15%, #01003370 50%, #010033), url("img/780-227_0399.JPG");
    background-position: left, top, right;
    background-repeat: no-repeat, no-repeat, no-repeat;
    

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

.first_line
{
    color: rgb(67, 149, 204);;
    font-family: 'Georgia';
    font-size: large;
    word-spacing: 10px;
    letter-spacing: 2px; 
    
    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

.second_line
{
    color: rgb(187, 228, 255);
    font-family: 'Georgia';
    font-size: 6em;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

.third_line
{
    color: rgb(133, 184, 252);
    font-family: 'Georgia';
    font-size: 5em;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

/*  
    ------------------------------------
                    ABOUT
    ------------------------------------  
*/

#about
{
    display: block;
    position: relative;
    height: 100%;
    padding: 18% 20%;
    z-index: 1;

    /* style

    background-image: linear-gradient(to left, #010033 40%, #01003370), linear-gradient(to bottom, #010033 15%, #01003370 50%, #010033), url("img/dog.jpg");
    background-position: left, top, right;
    background-repeat: no-repeat, no-repeat, no-repeat; */

    /* DEBUG VARIABLES */
    border: 4px solid rgb(255, 255, 0);
}

.profile_picture
{
    position: relative;
    margin: 50pt 50pt;
    border-radius: 5pt;    
    width: 250pt;
    z-index: 2;
    
    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

.profile_picture_shadow_border
{
    position: relative;
    margin: -340pt 35pt;
    height: 293pt;
    width: 250pt;
    border: 4px solid turquoise;
    border-radius: 5pt;
    z-index: 1;
}

.title_description
{
    display: relative;
    width: 60%;
    margin-top: 50pt;
    margin-left: 345pt;
    word-spacing: 4px;
    letter-spacing: 1px;

    /* DEBUG VARIABLES */
     border: 4px solid rgb(255, 255, 0); 

}