/*  
    -------------------------------------------------------------------------------
                                        NAV
    -------------------------------------------------------------------------------
*/

#nav /* nav bar layout */
{
    /* postion */

    display: block;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    width: 100vw;
    z-index: 4;
    overflow: hidden;
    transition: top 0.3s; /* Transition effect when sliding down (and up) */

    /* style */

    box-shadow: 10px 0 10px;
    background-color: #010033de;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

.nav_block /* div block containing the nav contents */
{
    /* postion */

    display: block;
    margin: auto;
    width: 60%;
    overflow: hidden;
    text-align: center;
    align-items: center;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

#nav ul /* navigation bar list */
{
    /* postion */

    display: inline-block;
    position: relative;
    padding: 0;
    /* width: 30em; */
    overflow: hidden;
    margin: auto;
    margin-top: 1em;

    /* style */

    list-style-type: none;    
    font-family: 'CalibreSemibold';
    

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}
      
#nav ul li /* navigation bar list items */
{
    /* position */

    float: left;
    margin-top: 0;

    /* style */

    font-variant: small-caps;
    letter-spacing: 1px;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}
      
li a /* navigation bar list links */
{
    /* position */

    display: block;
    margin: 0 1em;
    text-align: center;

    /* style */

    color: whitesmoke;   
    text-decoration: none;
    font-size: large;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

#logo /* navigation bar logo */
{
    /* postion */

    float: left;
    margin: 2px 0 2px 0;
    padding: 0;
    max-height: 3em;
    min-height: 1em;
    cursor: pointer;
       
    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

#cv_btn /* navigation bar cv button */
{
    /* position */

    float: right;
    margin: 4px 0 0 0;
    padding: 0.6em 1.3em;
    text-align: center;
    
    /* style */

    color: whitesmoke;    
    font-size: large;
    font-variant: small-caps;
    font-family: 'CalibreSemibold';
    border: 0.2vh solid rgb(28, 123, 187);    
    text-decoration: none;
    border-radius: 5%;    
    font-variant: small-caps;
    letter-spacing: 1px;
}

#cv_btn:hover /* resume button hovering */
{
    background-color: rgba(0, 153, 255, 0.144);
    color: rgb(206, 162, 41);
}

/* curtain nav menu for mobile */
.overlay 
{
    /* position */

    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    overflow-y: hidden;

    /* style */
    
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    transition: 0.5s;
}

.overlay-content /* content wrapper */
{
    /* position */
    
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a /* links */
{
    /* position */

    display: block;
    padding: 8px;

    /* style */
    
    text-decoration: none;
    font-size: 2.2vh;
    font-family: 'CalibreSemibold';
    font-variant: small-caps;
    color: #818181;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus /* link hover and focus */
{
    /* style */
    
    color: rgb(206, 162, 41);
}

.overlay .closebtn /* close button (x) */
{
    /* position */
    
    position: absolute;
    top: 10px;
    right: 45px;

    /* style */
    
    font-size: 30vh;
}

.curtain_nav_button /* menu button on navbar */
{
    /* position */
    
    display: none;
    float: right;
    margin: 0 5% 0 0;

    /* style */
    
    color: whitesmoke;    
    font-size: 110px;
    cursor: pointer;
}

.curtain_nav_button:hover /* menu button on navbar hover */
{
    /* style */
    
    color: rgb(206, 162, 41);
}

/* media queries for different viewport sizes */

@media screen and (min-width: 1920px)
{
    .nav_block ul, .nav_block ul li, .nav_block #cv_btn {font-size: 1.8vh}
    
}

@media screen and (max-width: 1240px)
{
    .nav_block{width: 100%;}
    #logo{margin-left: 20px; font-size: 5vw;}

    .overlay {overflow-y: auto; font-size: 80px;}
    .overlay a {font-size: 80px;}
    .overlay .closebtn {
    font-size: 140px;
    top: 25px;
    right: 35px;
    }
    .curtain_nav_button {font-size: 110px;} 

    .nav_block ul, .nav_block ul li, .nav_block #cv_btn {display: none;}
    .curtain_nav_button {display: inline-block;}
    .overlay {overflow-y: auto; font-size: 50px;}
    .overlay a {font-size: 50px;}
}

@media screen and (max-width: 900px)
{
    .curtain_nav_button {font-size: 12vw;} 
}



