/*  
    -------------------------------------------------------------------------------
                                    TITLE
    -------------------------------------------------------------------------------
*/

#title_page /* page layout */
{
    /* position */

    display: block;    
    position: relative;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: visible;
    z-index: 0;

    /* style */

    background-color: #010033;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

.title_background_img /* title page background image */
{
    /* position */

    position: absolute;
    z-index: 0;
    right: 0;
    vertical-align: middle;
    height: 100vh;
}

.title_background_gradient /* background colour gradient for title page */
{
    /* position */
    
    display: block;
    position: relative;
    min-height: 100vh;
    z-index: 2;

    /* style */
    
    background-image: linear-gradient(to right, #010033 45%, #01003318 70%), linear-gradient(to bottom, #010033 10%, #01003334 45%, #010033 91%);
    background-position: left, top;
    background-repeat: no-repeat, no-repeat;
}

.title_content_wrapper /* div containing all content in title page */
{
    /* position */

    display: block;
    position: relative;
    min-height: 100vh;
    padding: 18% 0 0 20%;
    z-index: 3;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

.first_line /* introduction */
{
    color: rgb(67, 149, 204);;
    font-family: 'FabyenDemo';
    font-size: larger;
    
    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

.second_line /* name */
{
    color: rgb(187, 228, 255);
    font-family: 'Georgia';
    font-size: 6em;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

.third_line /* description */
{
    color: rgb(133, 184, 252);
    font-family: 'Georgia';
    font-size: 5em;

    /* DEBUG VARIABLES */
    /* border: 4px solid rgb(255, 255, 0); */
}

@media screen and (max-width: 1240px)
{
    .title_content_wrapper {padding: 180px 0 50px 10px;}
    .first_line {font-size: 80px;}
    .second_line {font-size: 240px;}
    .third_line {font-size: 180px;}
    .title_content_wrapper a {display: none;}
}

@media screen and (max-width: 1100px)
{
    .title_content_wrapper {padding: 180px 0 50px 10px;}
    .first_line {font-size: 60px;}
    .second_line {font-size: 200px;}
    .third_line {font-size: 140px;}
    .title_content_wrapper a {display: none;}
}

@media screen and (max-width: 900px)
{
    .title_content_wrapper {padding: 180px 0 50px 10px;}
    .first_line {font-size: 40px;}
    .second_line {font-size: 160px;}
    .third_line {font-size: 100px;}
    .title_content_wrapper a {display: none;}
}